	  <hr>
	<footer>
      
        <div>
            <img id="logo" src="img/logo.png" alt="CSUMB Logo" width="50" height="50">
        <div id="logoText">
            CST 336: Internet Programming. 2019&copy; Nikulyak<br />
            <span id="word">Disclaimer:</span> The information in this webpage is fictitious. <br />
            It is used for academic purposes only.
        </div>
        </div>
    </footer>
</body>
</html>