<% include partials/header %>

</head>
<body>
	<main>
		<h1>Cool Images</h1>
		<form action="/search">
			<input type="text" size="15" placeholder="Type keyword" name="keyword"><br><br>
			<button>Search</button>
		</form>
		<br>
	</main>
<% include partials/footer %>
