<% include partials/header %>
	<form action="/search">
		<input type="text" id="keyword" value="<%= keyword %>" placeholder="Type keyword" name="keyword">
		<button>Search</button>
		<a id="favLink" href="/displayKeywords">See favorites</a>
	</form>
	<% imageURLs.forEach(function(imageURL, i){ %>
	<%- (i % 3 == 0)? '<br>':'' %>
	<div class="imageContainer">
		<img class="image" src="<%= imageURL %>" width='200' height='200'>
		<img src="img/fav_off.png" width="20" height="20" class="favorite">
		</div>

<%	}); %>
<% include partials/footer %>